/* Estilos originales para PC */
body {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(139, 7, 246);
    background: linear-gradient(90deg, rgba(74, 72, 112, 1) 0%, rgba(90, 211, 236, 1) 91%);
}

main {
    width: 730px;
    margin: 30px auto 40px;
    display: flex;
    align-items: flex-start; /* Alinear los elementos al inicio */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
}

.section1 {
    background-color: rgba(255, 255, 255, 0.404);
    padding: 10px; /* Aumentar el espacio interno */
    border-radius: 8px;
    flex: 1; /* Que ocupe todo el espacio disponible */
    margin-right: 10px; /* Espacio entre section1 y section2 */
}

h1 {
    text-align: center;
}

button {
    height: 80px; /* Reducir altura de los botones */
    width: 80px; /* Reducir anchura de los botones */
    font-size: 30px; /* Reducir tamaño de fuente de los botones */
}

button:hover {
    cursor: pointer;
}

.section2 {
    background-color: rgba(255, 255, 255, 0.404);
    padding: 10px; /* Aumentar el espacio interno */
    border-radius: 8px;
    flex: 1; /* Que ocupe todo el espacio disponible */
    margin-top: 20px; /* Espacio entre section1 y section2 */
}

.estadisticas {
    border: 1px solid white;
    height: 80px; /* Reducir altura de las estadísticas */
    border-radius: 8px;
    padding: 8px 15px; /* Ajustar el relleno de las estadísticas */
    box-sizing: border-box;
}

footer {
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    width: 80%;
}

/* Estilos modificados para dispositivos diferentes */
@media (max-width: 768px) {
    main {
        width: 90%; /* Ancho adaptado para tablets */
        max-width: 800px; /* Ancho máximo para tablets */
    }

    .section1,
    .section2 {
        width: 100%; /* Ancho completo para dispositivos diferentes a PC */
        margin-right: 0; /* Eliminar margen derecho en dispositivos diferentes a PC */
    }

    button {
        height: 60px; /* Reducir altura de los botones para dispositivos móviles y tablets */
        width: 60px; /* Reducir anchura de los botones para dispositivos móviles y tablets */
        font-size: 20px; /* Reducir tamaño de fuente de los botones para dispositivos móviles y tablets */
    }

    .estadisticas {
        height: 60px; /* Reducir altura de las estadísticas para dispositivos móviles y tablets */
        padding: 5px 10px; /* Ajustar el relleno de las estadísticas para dispositivos móviles y tablets */
    }
}
