/* estilo.css */

/* Importamos la fuente 'Mochiy Pop One' de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

/* Estilo global para todos los elementos */
* {
    box-sizing: border-box; /* Incluimos los bordes y el relleno en el tamaño total */
    font-family: 'Mochiy Pop One'; /* Aplicamos la fuente 'Mochiy Pop One' a todos los elementos */
    margin: 0; /* Eliminamos el margen externo por defecto */
    padding: 0; /* Eliminamos el relleno por defecto */
}

/* Estilos para el cuerpo de la página */
body {
    background: rgb(64, 180, 58); /* Fondo degradado verde */
    background: linear-gradient(90deg, rgba(64, 180, 58, 0.896796218487395) 0%, rgba(29, 248, 253, 0.742734593837535) 50%, rgba(69, 252, 84, 0.7791491596638656) 100%); /* Degradado lineal */
    background-size: cover; /* Ajustamos el tamaño del fondo para cubrir el cuerpo */
    background-attachment: fixed; /* Fijamos el fondo al desplazarse la página */
}

/* Estilos para la sección principal */
main {
    width: 90%; /* Ancho predeterminado para dispositivos móviles y tablets */
    margin: 60px auto; /* Centramos el contenido verticalmente y horizontalmente */
    display: flex; /* Utilizamos flexbox para alinear los elementos */
    align-items: center; /* Centramos verticalmente los elementos */
    justify-content: center; /* Centramos horizontalmente los elementos */
    flex-direction: column; /* Los elementos dentro de main se colocan en columna */
}

/* Estilos para los títulos */
h1 {
    max-width: 1000px;
    background-color: #fff; /* Fondo blanco */
    border-radius: 60px; /* Borde redondeado */
    box-shadow: 5px 5px 0 #000; /* Sombra */
    padding: 10px 50px; /* Espaciado interno */
}

/* Estilos para el pie de página */
footer {
    position: absolute; /* Posición absoluta */
    bottom: 0; /* Alineado en la parte inferior */
    left: 0; /* Alineado a la izquierda */
    width: 100%; /* Ancho completo */
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    font-size: 12px; /* Tamaño de fuente */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Texto centrado */
}

/* Estilos para la pantalla inicial */
#pantalla-inicial {
    text-align: center; /* Texto centrado */
    font-size: 30px; /* Tamaño de fuente */
    margin: 40px 0; /* Espaciado externo */
}

/* Estilos para los botones */
.btn {
    border: none; /* Sin borde */
    background: #580078; /* Color de fondo */
    color: #fff; /* Color de texto */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 50px; /* Borde redondeado */
    cursor: pointer; /* Cursor apuntador */
    transition: .5s; /* Transición suave */
}

.btn:hover {
    transform: scale(1.1); /* Efecto de escala al pasar el ratón */
}

/* Estilos para la pantalla de juego */
#pantalla-juego {
    display: none; /* Ocultamos la pantalla de juego por defecto */
}

.pantalla-juego {
    max-width: 400px; /* Ancho máximo para la pantalla de juego */
    text-align: center; /* Texto centrado */
}

.pantalla-juego img {
    max-width: 50%; /* La imagen ocupará el ancho máximo del contenedor */
    height: auto; /* La altura se ajustará automáticamente */
}

.opciones {
    max-width: 300px; /* Ancho máximo para las opciones */
    margin: auto; /* Centramos horizontalmente las opciones */
}

.opcion {
    display: flex; /* Utilizamos flexbox para alinear los elementos */
    align-items: center; /* Centramos verticalmente los elementos */
    margin: 10px auto; /* Espaciado entre las opciones */
    cursor: pointer; /* Cursor apuntador */
}

.opcion .letra {
    background-color: #580078; /* Color de fondo de la letra */
    width: 50px; /* Ancho fijo para la letra */
    height: 50px; /* Altura fija para la letra */
    font-size: 30px; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
    color: #fff; /* Color de texto */
    text-align: center; /* Texto centrado */
    border-radius: 50%; /* Borde redondeado */
    line-height: 35px; /* Altura de línea */
    border: 5px solid #fff; /* Borde blanco */
    position: relative; /* Posición relativa */
}

.opcion .nombre {
    background: #fff; /* Fondo blanco */
    width: calc(100% - 50px); /* El 100% menos el ancho de la letra */
    font-size: 25px; /* Tamaño de fuente */
    position: relative; /* Posición relativa */
    padding: 7px 0; /* Espaciado interno */
}

/* Clases que se aplicarán cuando haya acertado la opción */
.opcion .nombreAcertada {
    background-color: yellowgreen; /* Fondo verde */
    color: #fff; /* Texto blanco */
}

.opcion .letraAcertada {
    background-color: yellowgreen; /* Fondo verde */
    color: #fff; /* Texto blanco */
}

/* Clases que se aplicarán cuando se equivoque en la opción elegida */
.opcion .nombreNoAcertada {
    background-color: darkred; /* Fondo rojo oscuro */
    color: #fff; /* Texto blanco */
}

.opcion .letraNoAcertada {
    background-color: darkred; /* Fondo rojo oscuro */
    color: #fff; /* Texto blanco */
}

/* Estilos para la pantalla final */
#pantalla-final {
    display: none; /* Ocultamos la pantalla final por defecto */
    text-align: center; /* Texto centrado */
}

#pantalla-final #numCorrectas,
#pantalla-final #numIncorrectas {
    display: inline-block; /* Mostramos como bloque en línea */
    width: 50px; /* Ancho fijo */
    height: 50px; /* Altura fija */
    border-radius: 50%; /* Borde redondeado */
    border: 5px solid #fff; /* Borde blanco */
}

